article.free {
    min-height: 100vh;
}
article.free > header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    padding-bottom: 8rem;
}
article.free > header > h1 {
    padding-top: 8rem;
    font-size: 4.0rem;
}
article.free > header > h1 > strong {
    font-weight: 700;
    color: #dd1818;
}
article.free > header > p {
    font-size: 1.2rem;
    font-weight: 700;
    color: #000;
}
article.free > section.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
}
article.free > section.faq > ul {
    padding-bottom: 2rem;
}
article.free > section.faq li {
    width: 50rem;
    border-bottom: 2px solid #00000080;
    padding: 1rem 0 0.5rem 0;
    cursor: pointer;
}
article.free > section.faq li > div.title {
    display: flex;
    align-items: center;
}
article.free > section.faq li > div.title > h1 {
    flex-grow: 1;
    font-size: 1.6rem;
    padding-bottom: 0.5rem;
}
article.free > section.faq li > div.title > i {
    font-size: 2.5rem;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
}
article.free > section.faq li.on > div.title > i {
    transform: rotate(180deg);
}
article.free > section.faq li > div.answer {
    height: 0rem;
    overflow: hidden;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    opacity: 0;
    font-size: 1.1rem;
}
article.free > section.faq li.on > div.answer {
    height: 5rem;
    opacity: 1;
}
/*
    Fixed
*/
article.free > nav.fixed-button {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    bottom: 0;
    z-index: 999;
}
article.free > nav.fixed-button > div.btn {
    z-index: 998;
    position: fixed;
    bottom: 1rem;
    width: 14rem;
    background: #dd1818; 
    padding: 0.7rem;
    border-radius: 2rem;
    cursor: pointer;
    text-align: center;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    opacity: 0.6;
}

article.free > nav.fixed-button > div.btn:hover, article.free > nav.fixed-button > div.btn.on {
    width: 27rem;
    bottom: 1.5rem;
    opacity: 1.0;
}
article.free > nav.fixed-button > div.btn > button {
    all: unset;
    padding: 0 0.5rem;
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 500;
}
article.free > nav.fixed-button > div.form-wrapper {
    position: fixed;
    bottom: -100%;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
}
article.free > nav.fixed-button > div.form-wrapper.on {
    bottom: 0%;
}
article.free > nav.fixed-button > div.form-wrapper > button {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #dd1818;
    border-radius: 50%;
    padding: 0.6rem;
    cursor: pointer;
    margin-bottom: 1rem;
    opacity: 0.5;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
}
article.free > nav.fixed-button > div.form-wrapper > button:hover {
    opacity: 1;
}
article.free > nav.fixed-button > div.form-wrapper > button > i {
    color: #fff;
    font-size: 2.0rem;
}
article.free > nav.fixed-button > div.form-wrapper > div {
    border-radius: 18px 18px 0 0;
    width: 36rem;
    padding: 1.5rem;
    background: #222;
    border: 1px solid #333;
}
article.free > nav.fixed-button > div.form-wrapper > div > a {
    color: #06c;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 1rem;
    margin-left: 4px;
}
article.free > nav.fixed-button > div.form-wrapper > div > a > p {
    font-weight: 700;
    font-size: 1.1rem;
}
article.free > nav.fixed-button > div.form-wrapper > div > a:hover > p {
    text-decoration: underline;
}
article.free > nav.fixed-button > div.form-wrapper > div > a > i {
    position: relative;
    top: -1px;
}
article.free > nav.fixed-button > div.form-wrapper > div > button {
    all: unset;
    cursor: pointer;
    text-align: center;
    padding: 1rem 0;
    color: #fff;
    border-radius: 8px;
    width: 100%;
    background-color: #dd1818;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}
article.free > nav.fixed-button > div.form-wrapper > div > p {
    color: #ffffff90;
    font-size: 0.9rem;
    font-weight: 400;
    margin-left: 4px;
}
article.free > nav.fixed-button > div.form-wrapper > div > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    background: #333;
    padding: 0.8rem;
    border-radius: 10px;
}
article.free > nav.fixed-button > div.form-wrapper > div > div > p {
    color: #fff;
    margin-left: 4px;
    font-size: 0.9rem;
    font-weight: 400;
}
article.free > nav.fixed-button > div.form-wrapper > div > div > input {
    all: unset;
    margin-top: 4px;
    padding: 0.3rem 0.5rem;
    flex-grow: 1;
    border-bottom: 3px solid #555;
    color: #fff;
}
@media (max-width: 1023px) {
    article.free > header > p {
        font-size: 1.5rem;
    }
    article.free > section.faq > ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    article.free > section.faq li {
        width: 90%;
    }
    article.free > section.faq li > div.title > h1 {
        font-size: 1.4rem;
        margin-right: 0.5rem;
    }
    article.free > section.faq li.on > div.answer {
        height: 9.5rem;
    }
    article.free > section.faq li > div.answer > p {
        font-size: 1.2rem;
    }
    article.free > nav.fixed-button > div.btn {
        padding: 1rem 0.7rem;
    }
    article.free > nav.fixed-button > div.form-wrapper {

    }
    article.free > nav.fixed-button > div.form-wrapper > div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 0;
    }
    article.free > nav.fixed-button > div.form-wrapper > div > div > p {
        font-size: 1.1rem;
    }
    article.free > nav.fixed-button > div.form-wrapper > button {
        opacity: 1;
    }
    article.free > nav.fixed-button > div.form-wrapper > div > button {
        width: 95%;
        margin-bottom: 1.5rem;
        font-size: 1.3rem;
    }
    article.free > nav.fixed-button > div.form-wrapper > div > div {
        margin: 1rem 0.5rem;
        width: 90%;
    }
    article.free > nav.fixed-button > div.form-wrapper > div > div > input {
        font-size: 1.3rem;
        font-weight: 400;
        padding: 0.5rem;
    }
    article.free > nav.fixed-button > div.form-wrapper > div > a > p {
        font-weight: 700;
        font-size: 1.3rem;
    }
}